*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    
}
body{
    background-color: #f2f2f2;
}
.slide{
    height: 100%;
    width: 180px;
    position:absolute;
    background-color: #fff;
    transition: 0.5s ease;
    transform: translateX(-180px);
}
h1{
    color: #daa520;
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}
ul li{
    list-style: none;
}
ul li a{
    color: #011a41;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}
ul li a i{
    width: 40px;
    text-align: center;
}
input{
    display: none;
    visibility: hidden;
}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color:#fff;
    z-index: 1;
    top: 20px;
    left: 15px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #daa520;
    border-radius: 50px;
    transition: 0.3s ease;

}
.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked  ~.toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
input:checked  ~.toggle .middle_line{
    opacity: 0;
    transform: translate(20px);
}
input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
ul li:hover a {
    background-color: #daa520;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Spartan', sans-serif;
    }
    h2{
    text-align: right;
    font-size:46px;
    line-height:54px;
    color: #f2f2f2;
    }
    h4{
    text-align: right;
    font-size:20px;
    color#222;
    }
    h6{
    text-align: right;
    font-weight:700;
    font-size:12px;
    }
    p{
    text-align: right;
    font-size:16px;
    margin:15px 0 20px 0;
    }
    #hero
    {
    background-image: url("giphy.gif");
    height:100vh;
    width:100%;
    background-size: cover;
    background-position: top 25% right 0 bottom 20% ;
    padding: 0 80px;
    display: flex;
    flex-direction:column;
    align-items: right;
    justify-content:center;
}
#dataset{
    background-color: #daa520;
    height:90vh;
    width:100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 20px 80px;
    display: block;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}
.stats__count {
    font-family: "montserrat-bold", sans-serif;
    font-size: 4rem;
    line-height: 1;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:flex;
    align-items:center;
    text-align: center;
    justify-content:space-between;
    padding:20px 450px;
    background: #011a41;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top:0;
    left:0;
}
.stats__count1{
    font-family: "montserrat-bold", sans-serif;
    font-size: 4rem;
    line-height: 1;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:flex;
    align-items:center;
    text-align: center;
    justify-content:space-between;
    padding:20px 530px;
    background: #011a41;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top:0;
    left:0;
}
.section-p1{
    padding:40px 80px;
    }
#ourteam{

    display:flex;
    align-items:center;
   justify-content:space-between;
    flex-wrap:wrap;
    background-color: #011a41;
    height:90vh;
    width:100%;
    
    }
        #ourteam .te-box {
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        box-shadow:20px 20px 34px rgba(0,0,0,0.03);
        border: 1px solid #cce7d0;
        border-radius: 4px;
        margin: 15px 0;
        }
        #ourteam .te-box:hover {
        box-shadow:10px 10px 54px rgba(70,62,221,0.1);
        }
        #ourteam .te-box h6 {
        padding: 9px 8px 6px 8px;
        line-height:1;
        border-radius: 4px;
        color: #011a41;
        background-color: #daa520;
        display: inline-block;
        }
        